# dependencies
node_modules/

# parcel cache
.parcel-cache/

# production build
build/
dist/

# environment variables
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# editor configs
.vscode/
.idea/

# misc
*.log
